[user]
	name = mingang.he
	email = dustgle@gmail.com
[core]
	editor = vim
	quotepath = false
[merge]
	tool = vimdiff
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[alias]
	co = checkout
	ci = commit
	st = status
[http]
	proxy = socks5://localhost:1080
[https]
	proxy = socks5://127.0.0.1:1080
[credential]
	helper = cache
