[user]
	name = mingang.he
	email = dustgle@gmail.com
[core]
	editor = nvim
	quotepath = false
	commitGraph = true
[merge]
	tool = vimdiff
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[alias]
	co = checkout
	ci = commit
	st = status
[credential]
	useHttpPath = true
	helper = osxkeychain
[pager]
	branch = false
	tag = false
[pull]
	rebase = false
[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for
[gc]
	writeCommitGraph = true
