[user]
	name = mingang.he
	email = dustgle@gmail.com
[core]
	editor = nvim
	quotepath = false
[merge]
	tool = vimdiff
[push]
	default = simple
[init]
	templateDir = ~/.git_template
	defaultBranch = main
[alias]
	co = checkout
	ci = commit
	st = status
[credential]
	helper = store
[pull]
	rebase = false
