ATTR{idVendor}=="0f39", ATTR{idProduct}=="0611", ACTION=="add", RUN+="/home/gle/bin/pokerkeyboard_in.sh"

ACTION=="remove", SUBSYSTEM=="usb", RUN+="/home/gle/bin/pokerkeyboard_out.sh"
