[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gle/桌面/goagent-gtk.desktop]
row=6
col=0

[08F6F3ADF6F398E0]
row=1
col=0

[3446317946313D44]
row=2
col=0

[EC9256719256406E]
row=0
col=0

[回收站]
row=3
col=0

[/]
row=4
col=0

[/home/gle]
row=5
col=0

